.DS_Store
index.embedded.html
# Not used on the page
clips/b4igo.mp4
clips/snowday.mp4
clips/vlog1.mp4
photos/DSC06248.jpg
photos/DSC06670.jpg
photos/Kitchen1.jpg
photos/p3.jpg
photos/ronjon.jpg
photos/shwarma.jpg
photos/tg02434.jpg
